# Transforming Dataframes 

Learn how to inspect DataFrames and perform fundamental manipulations, including sorting rows, subsetting, and adding new columns.

In [1]:
# Import the packages used
import pandas as pd

# Import the four datasets
avocado = pd.read_csv("datasets/avocado.csv")
homelessness = pd.read_csv("datasets/homelessness.csv")
temperatures = pd.read_csv("datasets/temperatures.csv")
walmart = pd.read_csv("datasets/walmart.csv")

## A) Introducing Dataframes

### Inspecting a DataFrame

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

-    .head() returns the first few rows (the “head” of the DataFrame).
-    .info() shows information on each of the columns, such as the data type and number of missing values.
-    .shape returns the number of rows and columns of the DataFrame.
-    .describe() calculates a few summary statistics for each column.

homelessness is a DataFrame containing estimates of homelessness in each U.S. state in 2018. The individual column is the number of homeless individuals not part of a family with children. The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.

In [2]:
# Print the head of the homelessness data
print("Head")
print(homelessness.head(5)) #The integer 5 refers to the number of rows displayed

# Print information about homelessness
print("Info")
print(homelessness.info())

# Print the shape of homelessness
print("Shape")
print(homelessness.shape)

# Print a description of homelessness
print("Describe")
print(homelessness.describe())

Head
               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB
None
Shape
(51, 5)
Describe
         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

### Parts of a DataFrame

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

-	.values: A two-dimensional NumPy array of values.
-	.columns: An index of columns: the column names.
-	.index: An index for the rows: either row numbers or row names.

You can usually think of indexes as a list of strings or numbers, though the pandas Index data type allows for more sophisticated options. (These will be covered later in the course.)

homelessness is available.

In [3]:
# Print the values of homelessness
print("Values")
print(homelessness.values)

# Print the column index of homelessness
print("Columns")
print(homelessness.columns)

# Print the row index of homelessness
print("Index")
print(homelessness.index)

Values
[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]
Columns
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
Index
RangeIndex(start=0, stop=51, step=1)

## B) Sorting and Subsetting
### Sorting rows

Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to .sort_values().

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.

Sort on  :  		

- one column :	df.sort_values("columns")

- multiple columns : df.sort_values(["columns1", "columns2"])


By combining .sort_values() with .head(), you can answer questions in the form, "What are the top cases where…?".

**Exercise 1**
    Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.
    Print the head of the sorted DataFrame.

In [4]:
# Sort homelessness by individuals
homelessness_ind = homelessness.sort_values("individuals")

# Print the top few rows
print(homelessness_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

**Exercise 2**
    Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.
    Print the head of the sorted DataFrame.

In [5]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values("family_members", ascending = False)

# Print the top few rows
print(homelessness_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

**Exercise 3**
    Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as 		  homelessness_reg_fam.
    Print the head of the sorted DataFrame.

In [6]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(["region","family_members"],ascending = [True,False])

# Print the top few rows
print(homelessness_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

### Subsetting columns

When working with data, you may not need all of the variables in your dataset. Square brackets ([]) can be used to select only the columns that matter to you in an order that makes sense to you. To select only "col_a" of the DataFrame df, use :

- df["col_a"]

To select "col_a" and "col_b" of df, use

- df[["col_a", "col_b"]]

**Exercise 4** Create a DataFrame called individuals that contains only the individuals column of homelessness.
    Print the head of the result.

In [7]:
# Select the individuals column
individuals = homelessness["individuals"]

# Print the head of the result
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

**Exercise 5**  Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.
    Print the head of the result.

In [8]:
# Select the state and family_members columns
state_fam = homelessness[["state","family_members"]]

# Print the head of the result
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

### Subsetting rows

A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.

There are many ways to subset a DataFrame, perhaps the most common is to use relational operators to return True or False for each row, then pass that inside square brackets.

Code Structures : df[df["col"] conditions]

examples :
- df[df["col1"] > 60]
- df[df["col2"] == "brown"]

You can filter for multiple conditions at once by using the "bitwise and" operator, &.

df[(df["col1"] > 60) & (df["2"] == "brown")]

**Exercise 6** Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [9]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness["individuals"]> 10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

**Exercise 7** Filter homelessness for cases where the region is "Mountain", assigning to mountain_reg. View the printed result.

In [10]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness["region"] == "Mountain"]

# See the result
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

**Exercise 8**  Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [11]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness["family_members"] < 1000) & (homelessness["region"] == "Pacific")]

# See the result
print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

### Subsetting rows by categorical variables

Subsetting data based on a categorical variable often involves using the "or" operator ( | ) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the .isin() method, which will allow you to tackle this problem by writing one condition instead of three separate ones.

example :  

- colors = ["brown", "black", "tan"]
- condition = df["color"].isin(colors)
- df[condition]

**Exercise 9** Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result.

In [12]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[(homelessness["region"] == "South Atlantic") | (homelessness["region"] == "Mid-Atlantic")]

# See the result
print(south_mid_atlantic)

            region                 state  ...  family_members  state_pop
7   South Atlantic              Delaware  ...           374.0     965479
8   South Atlantic  District of Columbia  ...          3134.0     701547
9   South Atlantic               Florida  ...          9587.0   21244317
10  South Atlantic               Georgia  ...          2556.0   10511131
20  South Atlantic              Maryland  ...          2230.0    6035802
30    Mid-Atlantic            New Jersey  ...          3350.0    8886025
32    Mid-Atlantic              New York  ...         52070.0   19530351
33  South Atlantic        North Carolina  ...          2817.0   10381615
38    Mid-Atlantic          Pennsylvania  ...          5349.0   12800922
40  South Atlantic        South Carolina  ...           851.0    5084156
46  South Atlantic              Virginia  ...          2047.0    8501286
48  South Atlantic         West Virginia  ...           222.0    1804291

[12 rows x 5 columns]

**Exercise 10** Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [13]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness["state"].isin(canu)]

# See the result
print(mojave_homelessness)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

## C) New Columns
### Adding new columns

You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as transforming, mutating, and feature engineering.

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together or by changing their units.

**Exercise 11** 
- Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.
- Add another column to homelessness, named p_individuals, containing the proportion of homeless people in each state who are individuals.

In [14]:
# Add total col as sum of individuals and family_members
homelessness["total"] = homelessness["individuals"] + homelessness['family_members']

# Add p_individuals col as proportion of total that are individuals
homelessness["p_individuals"] = homelessness["individuals"] / homelessness["total"]


# See the result
print(homelessness)

                region                 state  ...     total  p_individuals
0   East South Central               Alabama  ...    3434.0       0.748398
1              Pacific                Alaska  ...    2016.0       0.711310
2             Mountain               Arizona  ...    9865.0       0.735834
3   West South Central              Arkansas  ...    2712.0       0.840708
4              Pacific            California  ...  129972.0       0.838704
5             Mountain              Colorado  ...   10857.0       0.700654
6          New England           Connecticut  ...    3976.0       0.573441
7       South Atlantic              Delaware  ...    1082.0       0.654344
8       South Atlantic  District of Columbia  ...    6904.0       0.546060
9       South Atlantic               Florida  ...   31030.0       0.691041
10      South Atlantic               Georgia  ...    9499.0       0.730919
11             Pacific                Hawaii  ...    6530.0       0.632619
12            Mountain                 Idaho  ...    2012.0       0.644632
13  East North Central              Illinois  ...   10643.0       0.634408
14  East North Central               Indiana  ...    5258.0       0.718144
15  West North Central                  Iowa  ...    2749.0       0.622408
16  West North Central                Kansas  ...    2216.0       0.651173
17  East South Central              Kentucky  ...    3688.0       0.741594
18  West South Central             Louisiana  ...    3059.0       0.830337
19         New England                 Maine  ...    2516.0       0.576312
20      South Atlantic              Maryland  ...    7144.0       0.687850
21         New England         Massachusetts  ...   20068.0       0.339396
22  East North Central              Michigan  ...    8351.0       0.623758
23  West North Central             Minnesota  ...    7243.0       0.551291
24  East South Central           Mississippi  ...    1352.0       0.757396
25  West North Central              Missouri  ...    5883.0       0.641849
26            Mountain               Montana  ...    1405.0       0.699644
27  West North Central              Nebraska  ...    2421.0       0.720777
28            Mountain                Nevada  ...    7544.0       0.935578
29         New England         New Hampshire  ...    1450.0       0.575862
30        Mid-Atlantic            New Jersey  ...    9398.0       0.643541
31            Mountain            New Mexico  ...    2551.0       0.764014
32        Mid-Atlantic              New York  ...   91897.0       0.433387
33      South Atlantic        North Carolina  ...    9268.0       0.696051
34  West North Central          North Dakota  ...     542.0       0.861624
35  East North Central                  Ohio  ...   10249.0       0.676066
36  West South Central              Oklahoma  ...    3871.0       0.729269
37             Pacific                Oregon  ...   14476.0       0.769481
38        Mid-Atlantic          Pennsylvania  ...   13512.0       0.604130
39         New England          Rhode Island  ...    1101.0       0.678474
40      South Atlantic        South Carolina  ...    3933.0       0.783626
41  West North Central          South Dakota  ...    1159.0       0.721311
42  East South Central             Tennessee  ...    7883.0       0.778764
43  West South Central                 Texas  ...   25310.0       0.758554
44            Mountain                  Utah  ...    2876.0       0.662031
45         New England               Vermont  ...    1291.0       0.604183
46      South Atlantic              Virginia  ...    5975.0       0.657406
47             Pacific            Washington  ...   22304.0       0.736370
48      South Atlantic         West Virginia  ...    1243.0       0.821400
49  East North Central             Wisconsin  ...    4907.0       0.558386
50            Mountain               Wyoming  ...     639.0       0.679186

[51 rows x 7 columns]

## Summary Review



You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new pandas skills to find out.

**Exercise 12**


- Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state.
- Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
- Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
- Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [15]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"]

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values(["indiv_per_10k"], ascending = False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[["state" , "indiv_per_10k"]]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363